@charset "UTF-8";
body {
  background-color: #F7F7F7;
}

/* Inicio estilos para header */
.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #000;
  justify-content: center;
}

.anuncio-descuento {
  color: #FFF;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

.btn-font {
  font-family: "Quicksand", sans-serif;
}

/*Navbar*/
.bg-color {
  background-color: #FFFFFF;
}
.bg-color .img-size {
  width: auto;
  height: 40px;
}
.bg-color .font-color {
  color: #000000;
  font-family: "Quicksand";
  font-size: 16px;
}
.bg-color .font-color:hover {
  color: #FFBD35;
}

/* Extends para sección novedades */
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01 {
  background-repeat: no-repeat;
  background-size: cover;
}

.font-productos, .novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

.encabezado-nosotros, .encabezado-productos, .encabezado-politicas-de-cambio, .encabezado-novedades {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #FFBD35;
  border-bottom: 1px solid #FFBD35;
  font-size: 20px;
  color: #502064;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .encabezado-nosotros, .encabezado-productos, .encabezado-politicas-de-cambio, .encabezado-novedades {
    margin-top: 80px;
  }
}

.novedades-grid-container {
  width: 83%;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 50px;
  display: flex;
}
@media screen and (max-width: 598px) {
  .novedades-grid-container {
    width: 100%;
    margin: 0;
  }
}
.novedades-grid-container .novedades-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 870px) {
  .novedades-grid-container .novedades-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 598px) {
  .novedades-grid-container .novedades-grid {
    width: 85%;
    margin-left: 8%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
.novedades-grid-container .novedades-grid .nov-estructura {
  border-radius: 0.25rem;
  background-color: #FFF;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.508);
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01 {
  background-image: url(../Images/1.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02 {
  background-image: url(../Images/2.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03 {
  background-image: url(../Images/3.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04 {
  background-image: url(../Images/4.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05 {
  background-image: url(../Images/5.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06 {
  background-image: url(../Images/6.avif);
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06 .borde-nov {
  border-radius: 0.25rem;
}
.novedades-grid-container .novedades-grid .nov-estructura .transicion {
  transition: all 0.5s;
  border-radius: 2%;
}
.novedades-grid-container .novedades-grid .nov-estructura .transicion:hover {
  opacity: 0%;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container {
  width: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container .descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: small;
}

/* Extends para sección novedades */
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06 {
  background-repeat: no-repeat;
  background-size: cover;
}

.font-productos, .novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

.encabezado-nosotros, .encabezado-productos, .encabezado-politicas-de-cambio, .encabezado-novedades {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #FFBD35;
  border-bottom: 1px solid #FFBD35;
  font-size: 20px;
  color: #502064;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .encabezado-nosotros, .encabezado-productos, .encabezado-politicas-de-cambio, .encabezado-novedades {
    margin-top: 80px;
  }
}

.politicas-grid {
  border-radius: 0.25rem;
  background-color: #3FA796;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
}
@media screen and (max-width: 700px) {
  .politicas-grid {
    margin: 5px;
    padding: 5px;
    border: none;
  }
}
.politicas-grid .politicas-items {
  font-family: "Quicksand";
  font-size: 14px;
  color: #000;
  padding: 20px 60px;
  border: 3px dashed #000;
  line-height: 18px;
  list-style-type: square;
  text-align: justify;
}
@media screen and (max-width: 700px) {
  .politicas-grid .politicas-items {
    padding: 20px 20px;
    border: none;
  }
}
.politicas-grid .politicas-items h5 {
  color: #000;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  padding: 20px;
}
.politicas-grid .politicas-items .politicas-items p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.bg-contain {
  width: 100%;
  background-color: #FFFFFF;
}

.iconos-contacto {
  width: auto;
  height: 15px;
}

p {
  font-family: "Quicksand", sans-serif;
}

iframe {
  width: 100%;
  height: 300px;
  padding-top: 10px;
}

/* Inicio popup WhatsApp  */
.popup-whatsapp img {
  width: 50px;
  height: 50px;
}

.position-fixed {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

/* Fin Popup WhatsApp  */
/* Extends para sección novedades */
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06 {
  background-repeat: no-repeat;
  background-size: cover;
}

.font-productos, .novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

.encabezado-nosotros, .encabezado-productos, .encabezado-novedades, .encabezado-politicas-de-cambio {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #FFBD35;
  border-bottom: 1px solid #FFBD35;
  font-size: 20px;
  color: #502064;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .encabezado-nosotros, .encabezado-productos, .encabezado-novedades, .encabezado-politicas-de-cambio {
    margin-top: 80px;
  }
}

/*Inicio estilos sección productos */
.descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: small;
}

.boton-ver-mas {
  background-color: #FFF;
  color: #502064;
  border-color: #502064;
  transition: all 0.5s;
}

.boton-ver-mas:hover {
  background-color: #502064;
  color: #FFF;
  box-shadow: 1px 1px 10px black;
}

/* Extends para sección novedades */
.novedades-grid-container .novedades-grid .nov-estructura .novedades-foto01, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto02, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto03, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto04, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto05, .novedades-grid-container .novedades-grid .nov-estructura .novedades-foto06 {
  background-repeat: no-repeat;
  background-size: cover;
}

.novedades-grid-container .novedades-grid .nov-estructura .novedades-texto-container h4, .font-productos {
  font-family: "Open Sans Condensed", sans-serif;
}

.encabezado-nosotros, .encabezado-novedades, .encabezado-politicas-de-cambio, .encabezado-productos {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #FFBD35;
  border-bottom: 1px solid #FFBD35;
  font-size: 20px;
  color: #502064;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .encabezado-nosotros, .encabezado-novedades, .encabezado-politicas-de-cambio, .encabezado-productos {
    margin-top: 80px;
  }
}

/* Inicio estilos para Sobre Cábala */
.nosotros-grid-container {
  margin-top: 40px;
  margin-bottom: 200px;
  width: 100%;
  background-image: url(../Images/fondo-nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 938px) {
  .nosotros-grid-container {
    background-image: none;
    margin-bottom: 100px;
  }
}
.nosotros-grid-container .nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
@media screen and (max-width: 938px) {
  .nosotros-grid-container .nosotros-grid {
    display: block;
  }
}
.nosotros-grid-container .nosotros-grid .nosotros-texto {
  margin-top: 20px;
  margin-left: 40px;
}
@media screen and (max-width: 938px) {
  .nosotros-grid-container .nosotros-grid .nosotros-texto {
    margin: 0;
  }
}
.nosotros-grid-container .nosotros-grid .nosotros-texto p {
  color: #FFF;
  background: #FFBD35;
  border-radius: 0.25rem;
  padding: 40px;
  line-height: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
.nosotros-grid-container .nosotros-grid .nosotros-foto {
  width: 90%;
  position: relative;
  justify-content: center;
  top: 80px;
  left: 30px;
  border-radius: 0.25rem;
}
@media screen and (max-width: 938px) {
  .nosotros-grid-container .nosotros-grid .nosotros-foto {
    width: 100%;
    position: static;
  }
}
.nosotros-grid-container .nosotros-grid .nosotros-foto .foto-alu {
  border-radius: 0.25rem;
}

.principales-container {
  background-color: rgba(0, 0, 0, 0.056);
  border-radius: 0.25rem;
  padding-bottom: 25px;
}
.principales-container .mg-principal {
  width: 83%;
  margin-top: 150px;
  margin-left: 8%;
  border-radius: 0.25rem;
}
@media screen and (max-width: 980px) {
  .principales-container .mg-principal {
    margin-top: 100px;
    width: 85%;
    margin-left: 7%;
  }
}
@media screen and (max-width: 598px) {
  .principales-container .mg-principal {
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
  }
}
.principales-container .mg-principal .principal-01 {
  background-color: #FFBD35;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.508);
}
.principales-container .mg-principal .principal-02 {
  background-color: #502064;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.508);
}
.principales-container .mg-principal .principal-03 {
  background-color: #3FA796;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.508);
}
.principales-container .mg-principal .transicion {
  transition: all 0.5s;
  border-radius: 0.25rem;
}
.principales-container .mg-principal .transicion:hover {
  opacity: 50%;
}

/*# sourceMappingURL=style.css.map */
