@import "../base/listas";

.bg-contain {
    width: 100%;
    background-color: nth($colores , 1);
}
.iconos-contacto {
    width: auto;
    height: 15px;
}
p {
    font-family: 'Quicksand', sans-serif; 
}
iframe {
    width: 100%;
    height: 300px;
    padding-top: 10px;
}