/* Extends para sección novedades */
%estructura-novedades {
    background-repeat: no-repeat;
    background-size: cover;
}

%titulos {
    font-family: 'Open Sans Condensed', sans-serif;
}

%encabezados {
    margin-top: 150px;
    margin-bottom: 40px;
    padding-top: 10px ;
    border-top: 1px solid #FFBD35 ;
    border-bottom: 1px solid #FFBD35 ;
    font-size: 20px;
    color: #502064;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 980px) {
        margin-top: 80px;
    }
}