@mixin politicas-items($color, $relleno, $border, $interlineado, $texto-alineacion) {
    
    color: $color;
    padding: $relleno;
    border: $border;
    line-height: $interlineado;
    text-align: $texto-alineacion;
}